<% sdgs.forEach(function(sdg) { %>
	
		<input type="checkbox" name="sdg" id="sdgs<%= sdg.number%>" value="<%= sdg.number%>">
		<label for="sdgs<%= sdg.number%>"><picture>
			<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon.id %>?format=avif" type="image/avif">
			<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon.id %>?format=webp" type="image/webp">
			<img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon.id %>" alt="<%= sdg.title %>" height="100" width="100">	
			<!-- Uit directus afbeelding kleiner maken -->
		</picture></label>
	
<% }) %>

