<%- include('partials/head') %>
<%- include('partials/vragenlijst_header', {current: 'sdgs'}); %>
<header>
    <ul>
        <li><a href="/dashboard/<%= companies.id %>">Dashboard</a></li>
        <li>Klant toevoegen</li>
    </ul>
    <h1>Klant toevoegen</h1>
    <a href="/dashboard/<%= companies.id %>">Annuleren X</a>
</header>
<main>
    <form>
        <fieldset>
            <legend>Aan welke SDG's leveren deze klanten een positieve of negatieve bijdrage?</legend>
            <i>Gebruiken jouw klanten jouw dienst of product om een positieve impact te maken.</i>
            <p>Kies minimaal 3 sdg's</p>
            <div class="sdgs">
                <%- include('partials/sdgs'); %>
            </div>
        </fieldset>
        <a href="/klant-toevoegen-gegevens/<%= companies.id %>">Terug</a>
        <a href="/dashboard/<%= companies.id %>">Overslaan</a>
        <button type="submit" class="sdgs-button" disabled>volgende</button>
    </form>
</main>
<footer>
    <!-- action="/klant-toevoegen-scores/<%= companies.id %>" -->
</footer>
<%- include('partials/foot') %>