<%- include('partials/head', {current: 'vragenlijst'}); %>
<%- include('partials/vragenlijst_header', {current: 'scores'}); %>
<main>
    <form action="/dashboard/<%= companies.id %>">
        <fieldset>
            <legend>Scores toevoegen</legend>
            <i>Van de gekozen sdgs score van -5 tot 5</i>
            <div class="sdgs">
                <%- include('partials/selected_sdgs'); %>
            </div>
            
        </fieldset>
        <footer>
            <a href="/klant-toevoegen-sdgs/<%= companies.id %>">Terug</a>
            <a href="/dashboard/<%= companies.id %>">Overslaan</a>
            <button type="submit" >volgende</button>
        </footer>
    </form>
</main>
<footer>

</footer>
<%- include('partials/foot') %>