<%- include('partials/head', {current: 'vragenlijst'}); %>
<%- include('partials/vragenlijst_header', {current: 'sdgs'}); %>
<main>
    <form method="POST" action="/klant-toevoegen-scores/<%= companies.id %>">
        <input type="hidden" name="stakeholder_id" value="39">
        
        <fieldset>
            <legend>Aan welke SDG's leveren deze klanten een positieve of negatieve bijdrage?</legend>
            <i>Gebruiken jouw klanten jouw dienst of product om een positieve impact te maken.</i>
            <p class="selecteer_3">Kies minimaal 3 sdg's</p>
            <section class="sdgs">
                <%- include('partials/sdgs'); %>
            </section>
        </fieldset>

        <footer>
            <!-- action="/klant-toevoegen-scores/<%= companies.id %>" -->
            <a href="/klant-toevoegen-gegevens/<%= companies.id %>"> < Terug</a>
            <div>
                <a href="/dashboard/<%= companies.id %>" class="skip">Overslaan</a>
                <button type="submit" class="sdgs-button">volgende > </button>
            </div>
        </footer>
            
            

    </form>
</main>

<%- include('partials/foot') %>